# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific
**/*.bin
**/*.cnt
**/*.elf
**/*.lst
**/*.map
**/*.o
**/*.sec
**/*.hex

# Sublime Text Project

*.sublime-workspace
*.sublime-project
Notes.txt

# MacOS Indexing
.DS_Store


include/config.h

