.cproject
.project


# Specific
**/*.bin
**/*.cnt
**/*.elf
**/*.lst
**/*.map
**/*.o
**/*.sec
**/*.hex



!pic32mz-ethernet.o

include/config.h

/cryptography/app/micro_ecc_host/build/

# Sublime Text Project

*.sublime-workspace
*.sublime-project
Notes.txt

.Trashes*
# MacOS Indexing
.DS_Store


.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
